/* ========================

      Universal Styling

=========================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 60pt;
}

h2 {
  font-size: 48pt;
}

h3 {
  font-size: 36pt;
}

h4 {
  font-size: 24pt;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 12pt;
}

/* ========================

      Header Styling

=========================*/

header {
  background: white;
  padding: 10px;
}

header nav ul li {
  display: inline-block;
  float: right;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14pt;
  margin: 10px 20px;
}

header nav a:hover {
  color: #adbcb9;
}

header img {
  float: left;
  margin: 5px;
}

/* ========================

      Footer Styling

=========================*/

footer {
  background: #D2D9D2;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

footer p {
  display: inline;
}

footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px 3px darkgray;
}

footer img {
  float: left;
  margin-right: 5px;
  padding-top: 5px;
}

/* ========================

      Home Page Styling

=========================*/

.home {
  max-width: 900px;
  margin: 200px 0 100px 75px;
}

.home p {
  line-height: 1.6em;
}

/* ========================

      About Page Styling

=========================*/

.about {
  margin-top: 130px;
  max-width: 1100px;
}

.about h2 {
  margin-bottom: 10px;
}

.about p {
  line-height: 1.6em;
  margin-bottom: 10px;
}

.about a {
  color: black;
}

.about-me-image {
  float: left;
  margin: 150px 25px 0 50px;
}

/* ========================

      Form Styling

=========================*/

.say-hello {
  margin: 20px 0 0 155px;
  width: 690px;
}

.label-input {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  text-transform: uppercase;
  width: 200px;
  float: left;
  text-align: right;
  padding-right: 25px;
}

input {
  border: 1px solid black;
  line-height: 1.8em;
  margin-top: 3px;
  margin-bottom: 18px;
}

textarea {
  border: 1px solid black;
  margin-bottom: 5px;
}

.submit-button {
  text-align: right;
  margin: 5px;
}

.submit-button input {
  padding: 0 10px;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  background: white;
}

/* ========================

      Portfolio Page Styling

=========================*/

.portfolio {
  max-width: 1200px;
  padding-top: 130px;
  margin: 0 auto;
}

.portfolio h3 {
  text-align: center;
  margin-bottom: 25px;
}

.first,
.second,
.third {
  max-width: 375px;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

.portfolio h4 {
  padding: 5px 0;
}

.first .slick-photos,
.second .slick-photos,
.third .slick-photos {
  margin-left: 35px;
}

/* ========================

      Slick Styling

=========================*/

.slick-photos {
  max-width: 315px;
  margin-left: 10px;
}

.slick-photos img {
  margin: auto;
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}

.slick-prev,
.sick-next {
  color: rgb(210, 217, 210);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: rgb(173, 188, 185);
}

.slick-prev:before,
.slick-next:before {
  color: rgb(210, 217, 210);
}

.slick-dots li button:before {
  opacity: 1;
  color: rgb(210, 217, 210);
}

.slick-dots li.slick-active button:before{
  opacity: 1;
  color: rgb(173, 188, 185);
}

/* ========================

      Projects Page Styling

=========================*/

.projects {
  max-width: 1250px;
  padding-top: 130px;
  margin: 0 auto;
  background: #333;
}

.projects h3 {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

.projects-pd,
.projects-di {
  max-width: 49%;
  display: inline-block;
  background: gray;
  margin-left: 5px;
}

.projects .slick-photos {
  max-width: 300px;
}

/* ========================

      Lightbox Example Styling

=========================*/

.lightbox-main {
  padding: 10px;
  text-align: center;
}

.lightbox-main p {
  margin-bottom: 15px;
}

.lightbox-main img {
  padding: 5px;
}
