/* ========================

      Universal Styling

=========================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 64pt;
}

h2 {
  font-size: 48pt;
}

h3 {
  font-size: 36pt;
}

h4 {
  font-size: 24pt;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 14pt;
}

/* ========================

      Header Styling

=========================*/

header {
  background: white;
}

header nav ul li {
  display: inline;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16pt;
  color: black;
}

header img {
  float: left;
  margin: 10px;
}

/* ========================

      Footer Styling

=========================*/

footer {
  background: #D2D9D2;
  padding: 5px 10px;
}

footer p {
  display: inline;
}

footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 3px darkgray;
}

/* ========================

      Home Page Styling

=========================*/

.home {
  max-width: 900px;
  margin: 200px 0 100px 75px;
}

/* ========================

      About Page Styling

=========================*/

.about-me-image {
  margin-left: 125px;
}

.about {
  margin-left: 450px;
}

/* ========================

      Form Styling

=========================*/

.say-hello {
  margin-left: 175px;
}

/* ========================

      Portfolio Page Styling

=========================*/

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio h3 {
  text-align: center;
}

.apparel-design {
  max-width: 375px;
  text-align: center;
}

.merchandising {
  max-width: 375px;
  text-align: center;
}

.forecasting {
  max-width: 375px;
  text-align: center;
}

/* ========================

      Projects Page Styling

=========================*/

.projects {
  max-width: 1200px;
  margin: 0 auto;
}

.projects h3 {
  text-align: center;
}
